@import './variables.scss';

#app {
  width: 100%;
  min-height: 100%;
  background-color: $main-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.nav-bar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  img {
    width: 25px;
  }
}
