@import './variables.scss';

.sub-text {
  color: $sub-text-color;
  font-size: 12px;
}

.profit {
  color: #0ddb86;
}

.loss {
  color: #ff787a
}
.fake-text {
  display: inline-block;
  height: 5px;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  border-radius: 3px;
}