@import './variables.scss';

.small-tile {
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  &.active {
    background-color:  $tail-color;
  }
  &.size-m {
    min-width: 150px;
    border: 1px solid $tail-color;
    cursor: pointer;
    .tail-icon {
      font-size: 14px;
    }
    .main-text {
      font-size: 12px;
    }
    .sub-text {
      font-size: 9px;
    }
  }
  &.size-l {
    max-width: 400px;
    .tail-icon {
      font-size: 22px;
    }
    .main-text {
      font-size: 16px;
    }
    .sub-text {
      font-size: 14px;
    }
  }
}