@import './variables.scss';

.text-tail-container {
  display: flex;
  .tail-icon {

  }

  .tail-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex: 1;
    .main-text {
    color: $text-color;
    font-size: 14px;
    margin-bottom: 3px;
    }
  }
}


