@import './variables.scss';

.text-tail-container {
  display: flex;

  .tail-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex: 1;
  }

  .main-text {
    color: $text-color;
    margin-bottom: 2px;
    }
  &.profit-main {
    .main-text {
      color: #0ddb86;
    }
  }
  &.loss-main {
    .main-text {
      color: #ff787a
    }
  }
    &.profit-sub {
    .sub-text {
      color: #0ddb86;
    }
  }
  &.loss-sub {
    .sub-text {
      color: #ff787a
    }
  }
}

.tail-icon {
  color: white;
  margin-right: 3px;
  padding: auto;
}
